{% extends "hotel-templates/base.html" %}

{% block title %} namanbastar  {% endblock %}

{% block content %}
  
 <!-- Header  Inner style-->
<section class="row final-inner-header">
 	<div class="container">
 		<h2 class="this-title">Diamond Room</h2>
 	</div>
 </section>
 <section class="row final-breadcrumb">
 	<div class="container">
 		<ol class="breadcrumb">
 			<li><a href="/namanbastar/">Home</a></li>
 			<li class="active">Diamond Room</li>
 		</ol>
 	</div>
 </section>
<!-- Header  Slider style-->
    

<!-- News style-->
  <section class="container clearfix common-pad-inner">
   <div class="row">
      <div class="col-md-4 col-md-push-8">
       
          <div class="single-sidebar-widget sroom-sidebar">         
              
              <!-- Booking Form style-->
              <div class="book-r-form">
              
                  <div class="room-price">
                  <h6>starting from</h6>
                  <p>Rs 5,100<span>/ day</span></p>
                  
                  </div>
                  
                  <div class="book-form">
                  <div class="col-md-12"><b>Arrive</b><input class="form-control datepicker-example8" placeholder="Arival Date" type="text"></div>
                  <div class="col-md-12"><b>Departure</b><input type="text" class="form-control datepicker-example8" placeholder="Departure Date"></div>
                  <div class="col-md-12">
                      <b>Adults</b>
                      <div class="select-box">
                      <select class="select-menu" name="selectMenu">
                                <option value="default">Adults</option>  
                                <option value="1">1</option>	
                                <option value="2">2</option>	
                                <option value="3">3</option>	
                                <option value="4">4</option>    
                            </select>
                      </div>
                      </div>
                  <div class="col-md-12"><b>children</b>
                      <div class="select-box">
                      <select class="select-menu" name="selectMenu">
                                <option value="default">Children</option>  
                                <option value="1">1</option>	
                                <option value="2">2</option>	
                                <option value="3">3</option>	
                                <option value="4">4</option>    
                            </select>
                      </div>
                      </div>
                  <div class="col-md-12"><div class="chk-button"><button type="submit" class="res-btn">Check Availability</button></div></div>
                  
                  </div>
              
              </div>
              <!-- Booking Form style-->
              
             
              
             <!-- Budget Rooms style-->
             <div class="single-sidebar-widget-outer">
              <div class="sec-title">
						<h2>Budget Rooms</h2>
					</div>
                <div class="popular-post">
						<ul>
							<li class="img-cap-effect">
								<div class="img-box">
                                    <a href="/namanbastar/platinumroom/"><img src="/static/hotel-static/images/rooms/pl11.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="/namanbastar/platinumroom/"><h4>Platinum Suite</h4></a>
									<h6>Rs 7,500 <span>Per Night</span></h6>
								</div>
							</li>
							<li class="img-cap-effect">
								<div class="img-box">
                                    <a href="/namanbastar/diamondroom/"><img src="/static/hotel-static/images/rooms/di11.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="/namanbastar/diamondroom/"><h4>Diamond Room</h4></a>
									<h6>Rs 5,100
 <span>Per Night</span></h6>
								</div>
							</li>
							<li class="img-cap-effect">
								<div class="img-box">
                                    <a href="/namanbastar/goldroom/"><img src="/static/hotel-static/images/rooms/go11.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="/namanbastar/goldroom/"><h4>Gold Room</h4></a>
									<h6>Rs 4,500 <span>Per Night</span></h6>
								</div>
							</li>
                            
						</ul>
					</div> 
              </div>
              <!-- Budget Rooms style-->
              
              
              
          </div>
        
       </div>
      
      <div class="col-md-8 col-md-pull-4">
       
       <div class="single-room-wrapper">
         <!-- Rooms Slider style-->
          <div class="room-slider-wrapper">
           <div class="single-r-wrapper">
              <div class="single-sl-room">
             <div class="owl-itemm" data-hash="zero"><img src="/static/hotel-static/images/rooms/gallery/d1.jpg" alt=""></div>
             <div class="owl-itemm" data-hash="one"><img src="/static/hotel-static/images/rooms/gallery/d2.jpg" alt=""></div>
              <div class="owl-itemm" data-hash="two"><img src="/static/hotel-static/images/rooms/gallery/d3.jpg" alt=""></div>
                  <div class="owl-itemm" data-hash="three"><img src="/static/hotel-static/images/rooms/gallery/d4.jpg" alt=""></div>
               <div class="owl-itemm" data-hash="four"><img src="/static/hotel-static/images/rooms/gallery/d5.jpg" alt=""></div>   
            </div>  
             
          <a class="button secondary url" href="#zero"><img src="/static/hotel-static/images/rooms/gallery/d1.jpg" alt=""></a> 
          <a class="button secondary url" href="#one"><img src="/static/hotel-static/images/rooms/gallery/d2.jpg" alt=""></a> 
          <a class="button secondary url" href="#two"><img src="/static/hotel-static/images/rooms/gallery/d3.jpg" alt=""></a> 
          <a class="button secondary url" href="#three"><img src="/static/hotel-static/images/rooms/gallery/d4.jpg" alt=""></a> 
          <a class="button secondary url" href="#four"><img src="/static/hotel-static/images/rooms/gallery/d5.jpg" alt=""></a> 
                  
               </div>
              
              </div>
           
          <!-- Rooms Slider style-->
           
           <!-- Description of Room style-->
           <div class="room-dec-wrapper">
            <h2>Description of Room</h2>
               <p>Spacious, bright and outward facing rooms with a enormously magnificent picture window overlooking resort lawns and suite is totally refurbished with area of 550 sqft of living space with a separate bedroom and living . The room comes with double bed or twin beds with soft mattress a modern, fully equipped bathroom finished in top quality bronze colored ceramics and an independent entrance. An almirah is there to keep your valuable. The living space has a sofa bed with a separate Led TV, dining table. The bedroom and best room has separate home automation system which regulates the temperature according to you
			  </div>
           <!-- Description of Room style-->
           
           <!-- Room Facilities style-->
           <div class="room-fac-wrapper">
           <h2>Room Facilities</h2>
              <div class="row">
               <div class="ro-facilitie">
               <ul class="clearfix">
               <li><div class="facilitie-i-box">
                           <h3>TV LED</h3>
                           <span><img src="/static/hotel-static/images/rooms/icon1.gif" alt=""></span>
                       </div>
                   </li>
               <li><div class="facilitie-i-box">
                           <h3>Dresser</h3>
                           <span><img src="/static/hotel-static/images/rooms/icon2.jpg" alt=""></span>
                       </div>
                   </li>
                   <li><div class="facilitie-i-box">
                           <h3>Fridge</h3>
                           <span><img src="/static/hotel-static/images/rooms/icon3.jpg" alt=""></span>
                       </div>
                   </li>
                   <li><div class="facilitie-i-box">
                           <h3>wi-fi service</h3>
                           <span><img src="/static/hotel-static/images/rooms/icon4.gif" alt=""></span>
                       </div>
                   </li>
                   <li><div class="facilitie-i-box">
                           <h3>AC Room</h3>
                           <span><img src="/static/hotel-static/images/rooms/icon5.gif" alt=""></span>
                       </div>
                   </li>
               
               </ul>
               </div>
                  </div>
               
               
           </div>
           <!-- Room Facilities style-->
           
           <!-- Room Overview style-->
           <div class="room-overview">
           <h2>Room Overview</h2>
           
               <div class="table-responsive"> <table class="table table-striped"> <colgroup> <col class="col-xs-1"> <col class="col-xs-7"> </colgroup><tbody>
                   <tr> <th scope="row"> <code>Occupancy:</code> </th> <td>Max three Persons</td> </tr>
                   <tr> <th scope="row"> <code>Size : </code> </th> <td>600 sq. feet</td> </tr>
                   <tr> <th scope="row"> <code>View :</code> </th> <td>Sea or Garden view</td> </tr> 
                   <tr> <th scope="row"> <code>Room Service :</code> </th> <td>Available per request</td> </tr> 
                   <tr> <th scope="row"> <code>Terraces :</code> </th> <td>Balcony</td> </tr>
                   <tr> <th scope="row"> <code>Free Pickup Facility :</code> </th> <td>Yes</td> </tr>
                   <tr> <th scope="row"> <code>Internet Free :</code> </th> <td>Yes</td> </tr>
                   <tr> <th scope="row"> <code>Gym  :</code> </th> <td>Yes</td> </tr>
                   </tbody> </table> </div>
               
               
               
            <a href="/namanbastar/booking/" class="res-btn">Book NOw this room <i class="fa fa-arrow-right"></i></a>   
           </div>
           
           <!-- Room Overview style-->
          
          
           
           
          </div>
       </div>
      
      </div>
   </section> 
    
<!-- News style-->

 <!-- Welcome banner  style-->
<div class="nasir-subscribe-form-row row">
	<div class="container">
		<div class="row this-dashed">
			<div class="this-texts">
				<h2>STAY TUNED WITH US</h2>
				<h3>Get our updated offers, discounts, events and much more!</h3>
			</div>
			<form class="this-form input-group" action="#" method="post">
				<input type="email" class="form-control" placeholder="Enter your email address">
				<span class="input-group-addon">
					<button type="submit" class="res-btn">subscribe<i class="fa fa-arrow-right"></i></button>
				</span>
			</form>
		</div>
	</div>
</div>
    
 <!-- Welcome banner  style-->
    
{% endblock %}