{% extends "hotel-templates/base.html" %}

{% block title %} Naman Heights  {% endblock %}

{% block content %}
  
 <!-- Header  Inner style-->
{% if  '/naman-bastar/' in request.get_full_path %}

 <section class="row final-inner-header" style="background:url(http://www.namanbastar.com/static/hotel-static/images/inner-header2.jpg) no-repeat scroll center bottom">
 	<div class="container">
 		<h2 class="this-title">About Bastar</h2>
 	</div>
 </section>

{% else %}

<section class="row final-inner-header" style="background:url(http://www.namanbastar.com/static/hotel-static/images/inner-header4.jpg) no-repeat scroll center bottom">
 	<div class="container">
 		<h2 class="this-title">About Bastar</h2>
 	</div>
 </section>


{% endif %}
 <section class="row final-breadcrumb">
 	<div class="container">
 		<ol class="breadcrumb">
 			<li><a href="/namanbastar/">Home</a></li>
 			<li class="active">About Bastar</li>
 		</ol>
 	</div>
 </section>
<!-- Header  Slider style-->
 
 <div class="offer-deal-dark">
    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/ch.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Chitrakote Falls</h2>
        <p>It is a natural waterfall located to the west Jagadalapur on the Indravati River. The height of the falls is about 29 metres (95 ft). It is the widest fall in India. Because of its width and wide spread during the Monsoon season, it is often called the Niagara fall of India. Boating can be done below and under the falls in the misty atmosphere. Sunrise and Sunsets are beautiful as the sunlight is reflected in the blue hues. It is located at a distance of 34 km to the west of Jagadalapur.</p>
        </div>
        </div>
        </div>
     </section>
    </div>   
    
    
    <!--   Spa Offer   -->
    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/ku.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Kutumsura cave</h2>
        <p>
		This cave is well known for the ample amount stalactite (limestone pillars hanging down from the roof) and stalagmites (obelisk rising from the ground). It is one of the oldest as well as largest natural caves of the world. It is about 10 km from the ingress the kanger national park. It is 38km from Jagadalapur.
		</p>
        </div>
        </div>
        </div>
     </section>
 <!--   Spa Offer   -->
 
    
 <!--    Honeymoon Offer  -->
<div class="offer-deal-dark">
    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/te.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Teerathgarh Fall</h2>
        <p>
		It is a waterfall at Kanger Ghati in Bastar on Kanger River. You can visit the falls from darbha near state highway that connects Jagadalapur to Sukma. The water plunges 91m in single drop. It is 35km on south-west of Jagadalapur.
		</p>
        </div>
        </div>
        </div>
     </section>
    </div> 
  <!--    Honeymoon Offer  -->  
   <!--   Weekend Offer   -->
    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/ke.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Kailash Gufa</h2>
        <p>
		You’ll get fascinated by seeing the entire world of conical karsts structure. As you enter the caves you’ll see small buds of stalactites and stalagmites. It is millions of years old, set in a hill, about 200 meters long, 35 meters wide and 55 meters deep Stalactites and stalagmites are formed drop by drop, and an inch takes about 6,000 years to form, the huge pillars of the Kanger Caves will leave you speechless. It is 40kms from Jagadalapur .
		</p>
        </div>
        </div>
        </div>
     </section>
 <!--   Spa Offer   -->
     <!--    Honeymoon Offer  -->
<div class="offer-deal-dark">
    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/th.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Thamda Ghumar Waterfall</h2>
        <p>
		It is an ideal picnic spot in lohandiguda block of Bastar district. It cascades from a height of 100 ft and is generally formed from the water during rainy season. This waterfall with lush green fields forming the surrounding landscape is a lovely sight to watch. It is 19 km from Jagadalapur.
		</p>
        </div>
        </div>
        </div>
     </section>
    </div> 
  <!--    Honeymoon Offer  -->  
   <!--    Honeymoon Offer  -->

    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/an.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Ancient Temples</h2>
        <p>
		It is known for its historical and mythological connections with sites of cultural heritage. it is an important temple town with millions of devotees visiting the danteshwari temple every year. It is one of the 51 Shakti Peethas. It is an ancient temple built by the kings of Bastar i.e. the Kakatiya rulers for inhabiting there family Goddess, Devi Danteshwari. Devi Danteshwari is the Goddess of entire Bastar division, equally worshipped by Hindus as well as tribals. 
		</p> 
        </div>
        </div>
        </div>
     </section>
   
  <!--    Honeymoon Offer  -->  
  
   <!--    Honeymoon Offer  -->
<div class="offer-deal-dark">
    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/ma.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>Mandawa and Chitradhara</h2>
        <p>
		Mandawa is just like a mystic beauty, a combination of a small short remote untrodden valley, a series of cascades, greenery on the both sides of valley…….isn’t it a big thing in a small package!! Just before this waterfall, there is a mountainous stream which has been bound by a nala bund, which has its origin 20kms away to the southwest from the mountains near Katenaar, Gumadpal, Pakhnaar, this stream(nala) is called Mungabaharnala, as there is one village called Munga, near the origin of this stream. In local language, a stream is also called as “Bahar”; hence this stream got its name as “Mungabahar”. Even being a short stream, this nala never gets dry. On the flat top of this waterfall, there are some rock statues of Shivling and Nandi. Recently a small temple has also been made there in order to protect this idols and statues.		</p>
        </div>
        </div>
        </div>
     </section>
    </div> 
  <!--    Honeymoon Offer  -->  
  
   <!--    Honeymoon Offer  -->

    <section class="container clearfix common-pad offer-main">
    <div class="row">
        
        <div class="col-lg-5 col-md-6  offer-deal">
        <div class="img-holder">
            <img src="/static/hotel-static/images/rooms/na.jpg" alt="" class="img-responsive">
            
            </div>
        </div>
        <div class="col-lg-7 col-md-6 ">            
        <div class="offer-content">
        <h2>National Park</h2>
        <p>
		Kanger Valley National Park is one of the most beautiful and picturesque national parks of India. Spread over an area of approximately 200 square kilometers (77 sq mi) consisting mainly of hilly terrain, the park derives its name from the Kanger River, which flows throughout its length. The park is paradise for the nature’s lovers. It is famous for one of the finest virgin forest tracts on earth. Trekking here...: Not far away from the falls is a trekking trail through thick jungle - the virgin forests of the Kanger National Park. It is strewn with giant anthills, some reaching as high as eight feet (2.4 meters). No movement or sound in the jungle. You got to tiptoe and whisper in hushed tones so as not to disturb animals that might be in the vicinity. And suddenly you almost jump out of your skin as a barn owl swoops down with a screech to its hole in the tree. </p>     </div>
        </div>
        </div>
     </section>
   
  <!--    Honeymoon Offer  -->  
  
  
  <section class="our-special-wrapper">
    <section class="container clearfix common-pad">
      <div class="sec-header3">
         <h2>Handicrafts</h2>
             
     </div>
      <p>The tribal society of Bastar is famous for their excellency in making exotic handicrafts with a variety of designs and shapes. These handicrafts include wood-carvings, bell-metal items, terracota items, bamboo items etc. Bastar, being a district full of forest, containing finest quality of teak and other types of woods from which very attractive wooden-carving crafts and various types of furniture are being made by the skilled and experienced hands of the tribals. Many such items are today made and kept for sale in shops at Jagdalpur which attracts locals as well as tourists. These handicrafts are generally exported to different places of the country, and it has demand even from foreign countries also.</p>
        <div class="row">
       <div class="our-spec-outer">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b1.jpg" alt="" class="img-responsive">
             </div>
           </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b2.jpg" alt="" class="img-responsive">
            
            </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b3.jpg" alt="" class="img-responsive">
           
            </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b4.jpg" alt="" class="img-responsive">
            
            </div>
           </div>
		   
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b5.jpg" alt="" class="img-responsive">
            
            </div>
           </div>
		   
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b6.jpg" alt="" class="img-responsive">
            
            </div>
           </div>
		   
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b7.jpg" alt="" class="img-responsive">
            
            </div>
           </div>
		   
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
           <div class="item">
            <img src="/static/hotel-static/images/rooms/b8.jpg" alt="" class="img-responsive">
            
            </div>
           </div>
        </div> 
        </div>
        
      </section>
    </section>
    
  
 <!-- Welcome banner  style-->
<div class="nasir-subscribe-form-row row">
	<div class="container">
		<div class="row this-dashed">
			<div class="this-texts">
				<h2>STAY TUNED WITH US</h2>
				<h3>Get our updated offers, discounts, events and much more!</h3>
			</div>
			<form class="this-form input-group" action="#" method="post">
				<input type="email" class="form-control" placeholder="Enter your email address">
				<span class="input-group-addon">
					<button type="submit" class="res-btn">subscribe<i class="fa fa-arrow-right"></i></button>
				</span>
			</form>
		</div>
	</div>
</div>
    
 <!-- Welcome banner  style-->
 {% endblock %}
