{% extends "hotel-templates/base.html" %}

{% block title %} namanbastar  {% endblock %}

{% block content %}

  
<section class="row final-inner-header">
 	<div class="container">
 		<h2 class="this-title">Rooms &amp; Suites</h2>
 	</div>
 </section>
 <section class="row final-breadcrumb">
 	<div class="container">
 		<ol class="breadcrumb">
 			<li><a href="index.html">Home</a></li>
 			<li class="active">Rooms &amp; Suites</li>
 		</ol>
 	</div>
 </section>
<!-- Header  Slider style-->
    

<!-- About Resort style-->
  <section class="container clearfix common-pad-inner about-info-box">
    
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      
      <div class="sec-header3">
         <h2>Rooms and Suites in Naman Heights</h2>
             <h3>Pick a room that best suites your taste and budget</h3>
         </div>
     
      </div>
    </div>
    </section> 
    
<!-- About Resort style-->
    

<!-- Room style-->
 <section class="row nasir-room-grid">

	<div class="container">
		<div class="row">
			{% for r in room %}
			<div class="col-sm-4 nroom-grid" style="width:400px; height:620px;">
				<a href="/room/{{ r.slug }}" class="room-img"><img src="media/{{r.image1}}" alt=""></a>
				<div class="row this-conts">
					<div class="media">
						<div class="media-body this-title" style="
    text-align: center;">{{ r.title }}</div>
						
					</div>
					 <p>{{ r.description }}</p>
         <a href="/room/{{ r.slug }}" class="read-more">view room<i class="fa fa-arrow-right"></i></a>
				</div>
			</div>

			{% endfor %}
			<!--<div class="col-sm-4 nroom-grid">
				<a href="/diamondroom/" class="room-img"><img src="/static/hotel-static/images/rooms/diamond.jpg" alt=""></a>
				<div class="row this-conts">
					<div class="media">
						<div class="media-body this-title">Diamond Room</div>
						<div class="media-right">
							Rs 5,100<small>Per Night</small>
						</div>
					</div>
					<p>Very good facilities & ambience. Staff is very well trained. Every necessary facility is available within the hotel. Near to railway station.</p>
         <a href="/diamondroom/" class="read-more">view room<i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-sm-4 nroom-grid">
				<a href="/goldroom/" class="room-img"><img src="/static/hotel-static/images/rooms/gold.jpg" alt=""></a>
				<div class="row this-conts">
					<div class="media">
						<div class="media-body this-title">Gold Room</div>
						<div class="media-right">
							Rs 4,500<small>Per Night</small>
						</div>
					</div>
					<p>Hotel gold offers a reasonable accommodation,Room size sufficient for double occupancy. Its good because on highway Food is good.</p>
         <a href="/goldroom/" class="read-more">view room<i class="fa fa-arrow-right"></i></a>
				</div>
			</div>-->
		
			
		</div>
	</div>
</section> 
<!-- Room style-->    
  

    
  
  
 <!-- Welcome banner  style-->
<div class="nasir-subscribe-form-row row">
	<div class="container">
		<div class="row this-dashed">
			<div class="this-texts">
				<h2>STAY TUNED WITH US</h2>
				<h3>Get our updated offers, discounts, events and much more!</h3>
			</div>
			<form class="this-form input-group" action="#" method="post">
				<input type="email" class="form-control" placeholder="Enter your email address">
				<span class="input-group-addon">
					<button type="submit" class="res-btn">subscribe<i class="fa fa-arrow-right"></i></button>
				</span>
			</form>
		</div>
	</div>
</div>
{% endblock %}


