
{% extends "hotel-templates/base.html" %}

{% block title %} namanbastar  {% endblock %}

{% block content %}




 <!-- Header  Inner style-->
<section class="row final-inner-header">
 	<div class="container">
 		<h2 class="this-title">Single Room</h2>
 	</div>
 </section>
 <section class="row final-breadcrumb">
 	<div class="container">
 		<ol class="breadcrumb">
 			<li><a href="namanbastar/index.html">Home</a></li>
 			<li class="active">Single Room</li>
 		</ol>
 	</div>
 </section>
<!-- Header  Slider style-->
    

<!-- News style-->
  <section class="container clearfix common-pad-inner">
   <div class="row">
      <div class="col-md-4 col-md-push-8">
       
          <div class="single-sidebar-widget sroom-sidebar">         
              
              <!-- Booking Form style-->
              <div class="book-r-form">
              
                  <div class="room-price">
                  <h6>starting from</h6>
                  <p>RS.4500<span>/ day</span></p>
                  
                  </div>
                  
                  <div class="book-form">
                  <div class="col-md-12"><b>Arrive</b><input class="form-control datepicker-example8" placeholder="Arival Date" type="text"></div>
                  <div class="col-md-12"><b>Departure</b><input type="text" class="form-control datepicker-example8" placeholder="Departure Date"></div>
                  <div class="col-md-12">
                      <b>Adults</b>
                      <div class="select-box">
                      <select class="select-menu" name="selectMenu">
                                <option value="default">Adults</option>  
                                <option value="1">1</option>	
                                <option value="2">2</option>	
                                <option value="3">3</option>	
                                <option value="4">4</option>    
                            </select>
                      </div>
                      </div>
                  <div class="col-md-12"><b>children</b>
                      <div class="select-box">
                      <select class="select-menu" name="selectMenu">
                                <option value="default">Children</option>  
                                <option value="1">1</option>	
                                <option value="2">2</option>	
                                <option value="3">3</option>	
                                <option value="4">4</option>    
                            </select>
                      </div>
                      </div>
                  <div class="col-md-12"><div class="chk-button"><button type="submit" class="res-btn">Check Availability</button></div></div>
                  
                  </div>
              
              </div>
              <!-- Booking Form style-->
              
             
              
              <!-- Budget Rooms style-->
             <div class="single-sidebar-widget-outer">
              <div class="sec-title">
						<h2>Budget Rooms</h2>
					</div>
                <div class="popular-post">
						<ul>
							<li class="img-cap-effect">
								<div class="img-box">
                                    <a href="news-details.html"><img src="images/rooms/4.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="#"><h4>Economy room</h4></a>
									<h6>Rs199 <span>Per Night</span></h6>
								</div>
							</li>
							<li class="img-cap-effect">
								<div class="img-box">
                                    <a href="news-details.html"><img src="images/rooms/5.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="#"><h4>Garden family room</h4></a>
									<h6>Rs79 <span>Per Night</span></h6>
								</div>
							</li>
							<li class="img-cap-effect">
								<div class="img-box">
                                    <a href="news-details.html"><img src="images/rooms/6.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="#"><h4>double Deluxe room</h4></a>
									<h6>Rs235 <span>Per Night</span></h6>
								</div>
							</li>
                            <li class="img-cap-effect">
								<div class="img-box">
                                    <a href="news-details.html"><img src="images/rooms/7.jpg" alt=""/></a>
									
								</div>
								<div class="content">
									<a href="#"><h4>super Deluxe room</h4></a>
									<h6>Rs185 <span>Per Night</span></h6>
								</div>
							</li>
						</ul>
					</div> 
              </div>
              <!-- Budget Rooms style-->
              
              
              
          </div>
        
       </div>
      
      <div class="col-md-8 col-md-pull-4">
       
       <div class="single-room-wrapper">
         <!-- Rooms Slider style-->
          <div class="room-slider-wrapper">
           <div class="single-r-wrapper">
              <div class="single-sl-room">
             <div class="owl-itemm" data-hash="zero"><img src="images/rooms/gallery/1.jpg" alt=""></div>
             <div class="owl-itemm" data-hash="one"><img src="images/rooms/gallery/1.jpg" alt=""></div>
              <div class="owl-itemm" data-hash="two"><img src="images/rooms/gallery/1.jpg" alt=""></div>
                  <div class="owl-itemm" data-hash="three"><img src="images/rooms/gallery/1.jpg" alt=""></div>
               <div class="owl-itemm" data-hash="four"><img src="images/rooms/gallery/1.jpg" alt=""></div>   
            </div>  
             
          <a class="button secondary url" href="#zero"><img src="images/rooms/gallery/3.jpg" alt=""></a> 
          <a class="button secondary url" href="#one"><img src="images/rooms/gallery/2.jpg" alt=""></a> 
          <a class="button secondary url" href="#two"><img src="images/rooms/gallery/4.jpg" alt=""></a> 
          <a class="button secondary url" href="#three"><img src="images/rooms/gallery/5.jpg" alt=""></a> 
          <a class="button secondary url" href="#four"><img src="images/rooms/gallery/6.jpg" alt=""></a> 
                  
               </div>
              
              </div>
           
          <!-- Rooms Slider style-->
           
           <!-- Description of Room style-->
           <div class="room-dec-wrapper">
            <h2>Description of Room</h2>
               <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliqu id etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
               <p>Tullam corporis suscipit laboriosam, nisi ut aliqu id etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliqu id etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
           </div>
           <!-- Description of Room style-->
           
           <!-- Room Facilities style-->
           <div class="room-fac-wrapper">
           <h2>Room Facilities</h2>
              <div class="row">
               <div class="ro-facilitie">
               <ul class="clearfix">
               <li><div class="facilitie-i-box">
                           <h3>TV LCD</h3>
                           <span><img src="images/rooms/icon1.gif" alt=""></span>
                       </div>
                   </li>
               <li><div class="facilitie-i-box">
                           <h3>Breakfast</h3>
                           <span><img src="images/rooms/icon2.gif" alt=""></span>
                       </div>
                   </li>
                   <li><div class="facilitie-i-box">
                           <h3>free parking</h3>
                           <span><img src="images/rooms/icon3.gif" alt=""></span>
                       </div>
                   </li>
                   <li><div class="facilitie-i-box">
                           <h3>wi-fi service</h3>
                           <span><img src="images/rooms/icon4.gif" alt=""></span>
                       </div>
                   </li>
                   <li><div class="facilitie-i-box">
                           <h3>AC Room</h3>
                           <span><img src="images/rooms/icon5.gif" alt=""></span>
                       </div>
                   </li>
               
               </ul>
               </div>
                  </div>
               
               
           </div>
           <!-- Room Facilities style-->
           
           <!-- Room Overview style-->
           <div class="room-overview">
           <h2>Room Overview</h2>
           
               <div class="table-responsive"> <table class="table table-striped"> <colgroup> <col class="col-xs-1"> <col class="col-xs-7"> </colgroup><tbody>
                   <tr> <th scope="row"> <code>Occupancy:</code> </th> <td>Max three Persons</td> </tr>
                   <tr> <th scope="row"> <code>Size : </code> </th> <td>600 sq. feet</td> </tr>
                   <tr> <th scope="row"> <code>View :</code> </th> <td>Sea or Garden view</td> </tr> 
                   <tr> <th scope="row"> <code>Room Service :</code> </th> <td>Available per request</td> </tr> 
                   <tr> <th scope="row"> <code>Terraces :</code> </th> <td>Balcony</td> </tr>
                   <tr> <th scope="row"> <code>Free Pickup Facility :</code> </th> <td>Yes</td> </tr>
                   <tr> <th scope="row"> <code>Internet Free :</code> </th> <td>Yes</td> </tr>
                   <tr> <th scope="row"> <code>Gym  :</code> </th> <td>Yes</td> </tr>
                   </tbody> </table> </div>
               
               
               
            <h5>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliqu id etx ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum.</h5>
           
           <a href="/booking/" class="res-btn">Book NOw this room <i class="fa fa-arrow-right"></i></a>   
           </div>
           
           <!-- Room Overview style-->
          
           <!-- Have any question style-->
           <div class="question-wrapper">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>Have any question</h2></div>
               
               <div class="col-lg-4"><input type="text" class="form-control" id="name" name="name" placeholder="Name"></div>
                   <div class="col-lg-4"><input type="text" class="form-control" id="phone" name="phone" placeholder="Phone"></div>
                   <div class="col-lg-4"><input type="text" class="form-control" id="email" name="name" placeholder="Email"></div>
               
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <textarea class="form-control" rows="6" id="message" name="message" placeholder="Message"></textarea>
                    </div>
              
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><button type="submit" class="res-btn">Submit Now <i class="fa fa-arrow-right"></i></button></div>
              
               
               
           </div>
           <!-- Have any question style-->
           
           
          </div>
       </div>
      
      </div>
   </section> 
    
<!-- News style-->

 <!-- Welcome banner  style-->
<div class="nasir-subscribe-form-row row">
	<div class="container">
		<div class="row this-dashed">
			<div class="this-texts">
				<h2>STAY TUNED WITH US</h2>
				<h3>Get our updated offers, discounts, events and much more!</h3>
			</div>
			<form class="this-form input-group" action="#" method="post">
				<input type="email" class="form-control" placeholder="Enter your email address">
				<span class="input-group-addon">
					<button type="submit" class="res-btn">subscribe<i class="fa fa-arrow-right"></i></button>
				</span>
			</form>
		</div>
	</div>
</div>
    
 <!-- Welcome banner  style-->
    

    
    
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<!-- owl carousel  -->   
<script src="vendors/owlcarousel/owl.carousel.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/zebra_datepicker.js"></script>
<!-- jQuery ui js -->
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="vendors/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="js/custom.js"></script>

 <!-- Welcome banner  style-->

{% endblock %}

